<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1055811462553-pplu8rrp9pvlpo650k1aa0a1sp83b49j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055811462553-pplu8rrp9pvlpo650k1aa0a1sp83b49j</string>
	<key>API_KEY</key>
	<string>AIzaSyAEFVCcmnToDByvXkPfaMctBlrX2I28WI4</string>
	<key>GCM_SENDER_ID</key>
	<string>1055811462553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boldtypemedia.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-37cfc</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-37cfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055811462553:ios:1c385ff06d22c692</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-37cfc.firebaseio.com</string>
</dict>
</plist>